@model PruebaAcidLabs.Models.Artista

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Artista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArtista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArtista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PopularidadArtista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PopularidadArtista)
        </dd>

        <dt>
            Albumes
        </dt>

        <dd>
            @Html.ActionLink("Lista de Albumes", "Index", "Album", new { id = Model.ID }, null)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>