@model PruebaAcidLabs.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artista.NombreArtista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artista.NombreArtista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAlbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAlbum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponibilidad)
        </dd>

        <dt>
            Popularidad Promedio
        </dt> 
        
        <dd>
            @ViewBag.PopularidadPromedio
        </dd>

        <dt>
            Pista Mas Larga
        </dt> 
        
        <dd>
            @ViewBag.PistaMasLarga
        </dd>

        <dt>
            Longitud
        </dt> 
        
        <dd>
            @ViewBag.LongitudPistaMasLarga
        </dd>

        <dt>
            Pistas
        </dt>

        <dd>
            @Html.ActionLink("Lista de Pistas", "Index", "Pista", new { id = Model.ID }, null)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
