@model IEnumerable<PruebaAcidLabs.Models.Album>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Artista.NombreArtista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PopularidadAlbum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Artista.NombreArtista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAlbum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PopularidadAlbum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disponibilidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
